<div class="overlay"  *ngIf="!this.servicio.load">    
    <div class="spinner-border text-warning  spinner" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div> 
 
<div infiniteScroll infinite-scroll-distance='2'(scrolled)="this.servicio.getNaves()">
    <div class="row mt-3 justify-content-center text-start " *ngFor="let nave of this.servicio.naves"  >
        <div class="col-7 lista align-self-center item" (click)="this.servicio.nave(nave.url);">
            <h5 class="titulo">{{nave.name}}</h5>
            <p class="modelo">{{nave.model}}</p>        
        </div>    
    </div>
</div>


     
    



